  <div class="row-fluid">
    <div class="col-md-6 col-md-offset-3">    
      <%= form_tag ({:controller => "main", :action => 'save_knowledge', :method => :post}) do %>

        <div class="form-group">
          <%= label_tag "Title" %>
          <%= text_field_tag "title",@contents.string_between_markers("#", "\n"), :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag "Topic" %>
          <%= select_tag "topic", options_for_select(@topics, params[:topic]), :prompt => "Select Topic", :class => "selectpicker", :data => {:width => "100%"}, :value => "Ruby" %>
        </div>
        <div class="form-group">
          <%= label_tag "Tags" %>
          <%= text_field_tag "tags",@contents.string_between_markers("Tags\n", "\n").split(' ').map{ |t| t.gsub('tag:','').gsub('-',' ')}.join(', '), :class => "form-control tagsinput" %>
        </div>
        <div class="form-group">
          <%= label_tag "Description" %>
          <%= text_area_tag "description",@contents.string_between_markers("\n\n", "\n```"), :class => "form-control description" %>
        </div>
        <div class="form-group">
          <%= label_tag "Contents" %>
          <%= text_area_tag "contents",@contents.string_between_markers("```\n", "```"), :class => "form-control contents" %>
        </div>
        <%= submit_tag "Save Knowledge", :class => "btn btn-primary" %>
      <% end %>
    </div>
  </div>