<% if session[:has_repo] %>
<div class="row-fluid">
  <div class="col-md-4">
    <h3>Browse</h3>
    <% @contents.tree.each do |f| %>
    <div class="topic">
      <% if f.type == "tree" %>
        <p><i class="glyphicon glyphicon-folder-close"></i>  <%= link_to f.path, "/topic/#{f.path}"%></p>
      <% end %>
    </div>
    <% end %>
    </div>
  <div class="col-md-8">
    <h3>Create</h3>
    <div class="row-fluid">
      <div >    
        <%= form_tag({:action => 'save_knowledge', :method => :post},{ :id => 'new-knowledge'}) do %>

          <div class="form-group">
            <%= label_tag "Title" %>
            <%= text_field_tag "title","", :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag "Topic" %>
            <small> - Use the drop down to selet a Topic, or fill in your own </small>
            <div class="input-append dropdown combobox">
              <%= text_field_tag "topic", "Select a Topic", :class => "form-control" %><button type="button" class="btn input-icon" data-toggle="dropdown"><i class="caret"></i></button>
              <ul class="dropdown-menu">
                <% @topics.each do |t| %>
                  <li><a href="#"><%= t %></a></li>
                <% end %>
              </ul>
            </div>
            <small>Topics are the folder the knowledge is stored in. IE: if Ruby is selected the knowledge will be stored in Ruby/knowleted-title.md</small>
          </div>
          <div class="form-group">
            <%= label_tag "Tags" %>
            <%= text_field_tag "tags","", :class => "form-control tagsinput" %>
          </div>
          <div class="form-group">
            <%= label_tag "Description" %>
            <%= text_area_tag "description","", :class => "form-control description" %>
          </div>
          <div class="form-group">
            <%= label_tag "Contents" %>
            <%= text_area_tag "contents","", :class => "form-control contents" %>
          </div>
          <%= submit_tag "Save Knowledge", :class => "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% else %>
<div class="jumbotron">
      <div class="container">
        <h2>Welcome to the Tome of Knowledge</h2>
        <p>It looks like you don't have a repository set up for the Tome of Knowledge yet.</p>
        <h3>Let me help you:</h3>
        <%= link_to 'Create One <i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, {:controller => 'main', :action => 'create_repo'}, {:method => :post, :class => "btn btn-lg btn-primary" } %>

      </div>
    </div>
<% end %>

<% content_for :script do %>
$("#new_knowledge").validate({
  rules: {
    title: {
      required: true
    }
  },
  debug: true
});
<% end %>